#text{
   position:absolute;
   top:-1000px;
   bottom:0;
   left:0;
   right:0;
   overflow:hidden;
   font-size:30px;
   text-align:center;
   font-family:sans-serif;
 }
 #text>div{
   padding-top:1300px;
   animation: autoscroll 15000s linear;
   
 }
 html:after{
   content:' ';
   position:absolute;
   top:0;
   bottom:0;
   left:0;
   right:0;
   background:linear-gradient(to bottom ,rgb(0, 0, 0),rgba(255, 255, 255, 0) 100%);
   pointer-events:none;
 }
 body{
   position:absolute;
   top:0;
   bottom:0;
   left:0;
   right:0;
   transform-origin:50% 100%;
   transform:perspective(300px) rotateX(20deg);
 }
 html{
   color:lime;
   background:rgb(0, 0, 0);
 }
 @keyframes autoscroll{
   to{
     margin-top:-500000px;
   }
 }